/.vscode/
/.idea/
/.venv
/*/__pycache__/
/benchmarks/seqMNIST/results/*
/benchmarks/seqMNIST/MNIST
/benchmarks/seqMNIST/bash-scripts/*
/torch_sublstm.egg-info/*
/src/torch_sublstm.egg-info/*
/build/*
/dist/*
src/subLSTM/__pycache__/__init__.cpython-37.pyc
src/subLSTM/__pycache__/functional.cpython-37.pyc
